/*
    Try to avoid adding styling here. Use Styled Components instead,
    which is already a dependency of the app. Read more here:

    https://www.styled-components.com/docs
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa !important;
}

@media (min-width: 1025px) {
  .h-0 {
    height: 0;
  }
}

@media all and (max-width: 1373px) {
  .thumbnail-sm {
    width: 350px;
  }
}
